### Apt setup
# You can choose to install non-free and contrib software.
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Squeeze only: (doesn't seem to effect maverick/natty/oneiric/precise..)
# (working around a gcc/bug, where netinstall locks up here, cross compiled *.deb would work fine...)
# Note: this workaround is disabled in serial mode
d-i console-tools/archs string skip-config
d-i debian-installer/locale string en_US
d-i console-keymaps-at/keymap select us


#Removes the prompt about missing modules:
# Continue without installing a kernel?
d-i base-installer/kernel/skip-install boolean true
# Continue the install without loading kernel modules?
d-i anna/no_kernel_modules boolean true

# Individual additional packages to install
d-i pkgsel/include string uboot-mkimage pastebinit initramfs-tools wget firmware-linux ntpdate bash fbset

# Whether to upgrade packages after debootstrap.
# Allowed values: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select safe-upgrade

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true

# During installations from serial console, the regular virtual consoles
# (VT1-VT6) are normally disabled in /etc/inittab. Uncomment the next
# line to prevent this.
d-i finish-install/keep-consoles boolean true

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# This command is run just before the install finishes, but when there is
# still a usable /target directory. You can chroot to /target and use it
# directly, or use the apt-install and in-target commands to easily install
# packages and run commands in the target system.
d-i preseed/late_command \
string apt-install parted; in-target /sbin/parted /dev/mmcblk0 set 1 boot on ;

